.bg-white {
  background-color: #ffffff;
  color: #000000;
}

.h1 {
  font-size: 2.25rem;
}

.px-28 {
  padding-left: 7rem;
  padding-right: 7rem;
}

headerbar {
  background-color: transparent;
  box-shadow: none;
}

headerbar .title {
  opacity: 0;
}

.page-login-side {
  padding: 5rem;
}

.page-login-sign-in {
  font-weight: bold;
  font-size: 1.75rem;
}

.splash {
  background-image: url("resource:///res/images/login-splash.jpg");
  background-size: cover;
}

.game-card > picture {
  border-radius: 1rem;
}